<div class="container d-flex justify-content-center">
    <div class="weather">
        <div class="col-md-10 ml-md-autp">
            <div class="card"> 
                    <div class="city-title">
                        <p>{{ city_forecast?.city?.name }}</p>
                    </div>
                <div style="padding: 12px;"></div>
                <div class="row">
                    <div class="col-2" *ngFor="let weather of city_forecast.list; let ii = index">
                        <div >
                            <div class="header">{{ weather.weekday }}</div>
                            <div *ngIf="weather.weather[0].icon" class="city-temp-icon"><img src='{{ "http://openweathermap.org/img/w/" + weather.weather[0].icon + ".png"}}' /></div>
                            <div class="value" >
                                {{ weather.main.temp }}<sup>&deg;</sup>
                            </div>
                            <div class="header">Sea Level:</div>
                            <div class="value" >{{ weather.main.sea_level }} hPa</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>