<div class="container d-flex justify-content-center">
    <div class="weather">
        <div class="row">
            <div class="col-md-6" *ngFor="let city of cities; let i = index">
                <div class="card" (click)="onCityClick(city.id)"> 
                    <span class="icon" *ngFor="let weather of city.weather; let ii = index">
                    <!-- <img src="https://img.icons8.com/color/50/000000/wind.png" /> -->
                    <img src='{{ "http://openweathermap.org/img/w/" + weather.icon + ".png"}}' />
                    </span>
                    <div class="title">
                        <p>{{ city.name }}</p>
                    </div>
                    <div class="temp">{{ city.main.temp }}<sup>&deg;</sup></div>
                    <div class="temp-sub">
                        <span class="temp-sub-padding">
                            <span class="header">Min:</span>  
                            <span class="value">{{ city.main.temp_min }}<sup>&deg;</sup></span> 
                        </span>
                        <span>
                            <span class="header">Max:</span>
                            <span class="value">{{ city.main.temp_max }}<sup>&deg;</sup></span>
                        </span>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <div class="header">General</div>
                            <div class="value" *ngFor="let weather of city.weather; let ii = index">
                                {{ weather.main }}
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="header">Sunrise</div>
                            <div class="value">{{ city.sunrise_time }}</div>
                        </div>
                        <div class="col-4">
                            <div class="header">Sunset</div>
                            <div class="value">{{ city.sunset_time }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>