/* You can add global styles to this file, and also import other style files */

body {
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: rgba(238, 237, 237, 0.33);
    color: rgb(105, 104, 104);
    font-family: sans-serif
}

.container {
    background-color: #ffffff;
    border-color: #ffffff;
    align-items: center;
    border-radius: 1rem;
    vertical-align: middle
}

@media(max-width:767px) {
    .container {
        height: fit-content
    }
}

.weather {
    width: 100%
}

@media(max-width:767px) {
    .weather {
        width: 100%
    }
}

.card {
    padding: 1rem;
    margin: 1.5rem 4vw;
    border-radius: 1rem;
    background-color: rgba(238, 237, 237, 0.22);
    border-color: rgba(238, 237, 237, 0.22);
    box-shadow: 5px 6px 6px 2px #e9ecef;
    text-align: center;
    cursor: pointer
}

@media(max-width:768px) {
    .card {
        margin: 1.5rem
    }
}

.title {
    justify-content: center;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
}

.city-title {
    justify-content: center;
   font-size: 3rem;
}

.title p {
    margin-bottom: 0.2rem;
    font-size: 1.2rem
}

.temp {
    font-size: 2.6rem;
    margin-bottom: 1rem
}

.temp-sub {
    margin-bottom: 1rem
}

.temp-sub-padding {
    padding-right: 8px
}

.header {
    color: #dddddd
}

.col-4 {
    padding: 0 0.2rem
}

.icon {
    align-self: flex-end;
    margin-right: -2.5rem;
    margin-top: -2rem;
    z-index: 999
}

.icon img {
    width: 5rem
}

.city-temp-icon img {
    width: 3rem
}